<% include ../layout/header_o.ejs %>
<!--Begin banner-->
<div class="beginner_banner find_brandMaster">
    <div class="brandMaster_tag">
        <!--Begin ie8支持透明-->
        <div class="ie_touming">
        会吃、会玩儿的人一般都是用心去发现的人，一个好吃具有特色的餐厅，一部令人回味<br>无穷的电影，都是出自你们——品牌达人！传奇工场已汇集了一大批 品牌达人，现在，<br>迈开你的腿，张开你的嘴，大胆加入传奇工场吧！
        </div>
    </div>
</div>
<!--End banner-->

<!--Begin 什么是品牌达人-->
<div class="invest_bg what_brandMaster_bg">
    <div class="finacing_title"><img src="/images/shmsppdr_04.png"></div>
    <p class="brandMaster_p">品牌达人即项目推荐人，可通过给传奇工场平台推荐优质项目并促使达成合作，获得相应报酬的人。</p>
    <div class="finacing_step"><img src="/images/find_daren_04.png"></div>
</div>
<!--End 什么是品牌达人-->

<!--Begin 如何成为品牌达人-->
<div class="finacing_bg">
    <div class="finacing_title"><img src="/images/rhchw_04.png"></div>
    <p class="brandMaster_p">上传您发现的身边有特色的项目信息，通过审核后即可成为品牌达人。</p>
    <div class="finacing_step"><img src="/images/chwppdr_step_04.png"></div>
</div>
<!--End 如何成为品牌达人-->



<!--Begin 成为品牌达人有什么好处-->
<div class="advantage_bg master_hch_bg">
    <div class="finacing_title"><img src="/images/chwppdr_youshi_04.png"></div>
    <p class="brandMaster_p">成为传奇工场平台品牌达人，除获得相应先进报酬外，还会获得额外的店铺消费刷脸卡，根据推荐项目情况，还可获得适当股权份哦！</p>
</div>
<!--End 成为品牌达人有什么好处-->
<!--Begin 页脚详情页-->
<% include ../layout/footer.ejs %>