<% include ../layout/header_o.ejs %>
<!--Begin banner-->
<div class="beginner_banner jy_banner">

</div>
<!--End banner-->

<!--Begin 精英领头人-->
<div class="jy_leader_bg">
    <div class="finacing_title"><img src="/images/jy_leader_title_03.png"></div>
    <p class="brandMaster_p">丰厚的股权回报！优质的项目资源！贴心的全程服务!一切都只为个人财富的极化增值...</p>

    <div class="jy_leader_wrap">
        <div class="jy_leader_box clearfix">
            <div class="jy_leader_steps f_fl">
                <!--Begin ie8支持透明-->
                <div class="ie_touming">
                <img src="/images/jy_leader_step1_03.png">
                <p>必须先是合格投资人</p>
                <p>有成功创业经历，或丰富的企业管理经验</p>
                <p>认同传奇工场《领投人规则》</p>
                <p>与平台签订《领投人协议》</p>
                </div>
            </div>
            <div class="jy_leader_imgs f_fr">
                <img src="/images/jy_leader_img1_03.png">
            </div>
        </div>

        <div class="jy_leader_box clearfix">
            <div class="jy_leader_imgs f_fl">
                <img src="/images/jy_leader_img2_03.png">
            </div>
            <div class="jy_leader_steps f_fr">
                <!--Begin ie8支持透明-->
                <div class="ie_touming">
                <img src="/images/jy_leader_step2_03.png">
                <p>项目尽调</p>
                <p>与项目方共同制定《项目计划书》</p>
                <p>投资项目</p>
                <p>平台公示领投人信息和项目投资信息</p>
                </div>
            </div>
        </div>

        <div class="jy_leader_box clearfix">
            <div class="jy_leader_steps f_fl">
                <!--Begin ie8支持透明-->
                <div class="ie_touming">
                <img src="/images/jy_leader_step3_03.png">
                <p>财务监管</p>
                <p>项目实施进度监管与支持</p>
                <p>项目运营支持</p>
                </div>
            </div>
            <div class="jy_leader_imgs f_fr">
                <img src="/images/jy_leader_img3_03.png">
            </div>
        </div>

        <div class="jy_leader_box clearfix">
            <div class="jy_leader_imgs f_fl">
                <img src="/images/jy_leader_img4_03.png">
            </div>
            <div class="jy_leader_steps f_fr">
                <!--Begin ie8支持透明-->
                <div class="ie_touming">
                <img src="/images/jy_leader_step4_03.png">
                <p>股权收益</p>
                <p>项目奖金</p>
                <p>与项目约定的其他收益</p>
                </div>
            </div>
        </div>

    </div>

</div>

<!--End 精英领头人-->
<% include ../layout/footer.ejs %>