<% include ../layout/header_o.ejs %>
<!--Begin 优势-->
<div class="advantage_bg">
    <div class="advantage_box">
        <div class="advantage_1">
            <h3 class="b21_f">全面性</h3>
            <p>专注于为企业提供资金配给、资源配给和人才配给的服务平台</p>
        </div>
        <div class="advantage_1 advantage_2">
            <h3 class="red_f">唯一性</h3>
            <p>中国唯一覆盖服务众包、股权众筹达到财富众创的服务平台</p>
        </div>
        <div class="advantage_1 advantage_3">
            <h3 class="green_f">安全保障</h3>
            <p>专业风控团队对实体店铺提前做风险预估，风险控制低于20%方可获得传奇工场平台服务、千万保险基金作为保障基金、财务进行监管保障，保证资金只用于店铺正常运作使用、具有10年技术经验的专家团队为平台安全保驾护航。</p>
        </div>
        <div class="advantage_1 advantage_2 advantage_4">
            <h3 class="e69_f">绝不控资</h3>
            <p>不涉及资金操控，与第三方支付平台融宝支付形成全面战略合伙伴关系，从而保障资金100%安全 </p>
        </div>
        <div class="advantage_1 advantage_5">
            <h3 class="ef9_f">率先领投</h3>
            <p>为保障跟投人的利益和管控风险，传奇工场作为项目领投人率先领投</p>
        </div>
        <div class="advantage_1 advantage_2 advantage_4 advantage_6">
            <h3 class="b83">融后管理</h3>
            <p>拥有完善的财务监管系统，涉及到美食、娱乐和生活等多个方面，投融资双方可随时监察资金流向</p>
        </div>
    </div>
</div>
<!--End 优势-->

<!--Begin 我要融资-->
<div class="finacing_bg">
    <div class="finacing_title"><img src="/images/wyrz_title_03.png"></div>
    <div class="finacing_step"><img src="/images/rz_step_03.png"></div>
</div>
<!--End 我要融资-->

<!--Begin 我要投资-->
<div class="invest_bg hide">
    <div class="invest_box">
        <div class="finacing_title"><img src="/images/invest_title_03.png"></div>
        <div class="invest_list clearfix">
            <div class="invest_1">
                <div class="invest_circle">
                    <div class="circle_content">
                        <img src="/images/invest_img_03.png">
                        <div class="invest_wrap">
                            <div class="invest_title">藤之屋文化料理</div>
                            <div class="invest_introduce">追求高品质与完美体验的日式料理</div>
                        </div>
                        <ul class="invest_infor clearfix">
                            <li class="f_fl">上线时间：<h6>2015.08.02</h6></li>
                            <li class="f_fl ml_10">单笔投资：<h6>￥2000000.00</h6></li>
                            <li class="f_fr">融资金额：<h6>￥20000万</h6></li>
                        </ul>
                    </div>
                </div>
                <a href="预热项目—详情页.html" class="btn_style invest_detail">查看详情</a>
            </div>

            <div class="invest_1">
                <div class="invest_circle">
                    <div class="circle_content">
                        <img src="/images/invest_img_03.png">
                        <div class="invest_wrap">
                            <div class="invest_title">藤之屋文化料理</div>
                            <div class="invest_introduce">追求高品质与完美体验的日式料理</div>
                        </div>
                        <ul class="invest_infor clearfix">
                            <li class="f_fl">上线时间：<h6>2015.08.02</h6></li>
                            <li class="f_fl ml_10">单笔投资：<h6>￥2000000.00</h6></li>
                            <li class="f_fr">融资金额：<h6>￥2000万</h6></li>
                        </ul>
                    </div>
                </div>
                <a href="预热项目—详情页.html" class="btn_style invest_detail">查看详情</a>
            </div>

            <div class="invest_1 mr_0">
                <div class="invest_circle">
                    <div class="circle_content">
                        <img src="/images/invest_img_03.png">
                        <div class="invest_wrap">
                            <div class="invest_title">藤之屋文化料理</div>
                            <div class="invest_introduce">追求高品质与完美体验的日式料理</div>
                        </div>
                        <ul class="invest_infor clearfix">
                            <li class="f_fl">上线时间：<h6>2015.08.02</h6></li>
                            <li class="f_fl ml_10">单笔投资：<h6>￥200000000.00</h6></li>
                            <li class="f_fr">融资金额：<h6>￥2000万</h6></li>
                        </ul>
                    </div>
                </div>
                <a href="预热项目—详情页.html" class="btn_style invest_detail">查看详情</a>
            </div>
        </div>
    </div>
</div>
<!--End 我要投资-->

<!--Begin 传奇工场，我们一路前行-->
<div class="forward_bg">
    <div class="finacing_title"><img src="/images/chuanqi_forward_03.png"></div>
    <div class="forward_btns">
        <a href="javascript:void(0)" class="btn_style invest_detail click_register">立即注册</a>
        <a href="/" class="btn_style invest_detail ml_100">返回首页</a>
    </div>
</div>
<!--End 传奇工场，我们一路前行-->
<% include ../layout/footer.ejs %>