<% include ../layout/header_index.ejs %>
<!--Begin banner-->
<div class="safe_bzh_banner">
    <img src="/images/safeBzh_banner_word_03.png">
</div>
<!--End banner-->
<!--Begin 安全保障主体-->
<div class="safe_bzh_bottom">
    <div class="safe_bzh_wrap">
        <div class="safe_bzh_box">
            <ul class="circle_list circle_active clearfix">
                <li class="six">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>六层筛选关卡</strong>
                    <div class="square_bg six_square_bg">项目经过发现者推荐、首次约谈、试吃团评审、专家团评估、风控调查、再次约谈和最终投资决策6层筛选关卡；从消费者的认可程度、美食达人体验感受、专业人士项目分析、项目方资金及其他信息真实度调查和项目创建者人品及品牌意识考察等全方位把控项目安全性。</div>
                </li>
                <li class="wlt">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>我领投，你跟投</strong>
                    <div class="square_bg wlt_square_bg">传奇工场或其他权威投资机构、个人率先领投，投资人跟投；设置风险熔断机制，在盈利预期偏离值超标时自动熔断，充分降低风险，保证跟投人的股本安全性。</div>
                </li>
                <li class="information">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>融后管理透明</strong>
                    <div class="square_bg information_square_bg">拥有完善的财务监管体系，投融资双方可随时监察资金流向，保证信息透明； 第三方会计师事务所进行财务审计并对投资人出具季度经营报告及半年审计报告。</div>
                </li>
                <li class="free_zhr">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>自由转让退出</strong>
                    <div class="square_bg free_zhr_square_bg">优先股可自由转让退出，满一年后可由普通股东回购退出。</div>
                </li>
                <li class="money_safe">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>资金安全无忧</strong>
                    <div class="square_bg money_safe_square_bg">绝不控资——与融宝支付为全面战略合作伙伴关系，平台不控资，保障资金100%安全；  融后管理——拥有完善的财务监管体系，投融资双方可随时监察资金流向。</div>
                </li>
                <li class="platform_safe">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>平台运维无忧</strong>
                    <div class="square_bg platform_safe_square_bg">平台安全无担忧！运维团队，7*24小时监管机制，保障平台安全！</div>
                </li>
                <!--<li class="zhy_team">
                    <u class="cl"></u>
                    <u class="cr"></u>
                    <i></i>
                    <strong>专业运营团队</strong>
                    <div class="square_bg zhy_team_square_bg">助力项目运营推广，为项目成功盈利保驾护航！</div>
                </li>-->
            </ul>
    
        </div>
        
    </div>
</div>
<!--End 安全保障主体-->
<% include ../layout/footer.ejs %>