<% include ../layout/header_o.ejs %>
<div class="usercenter_bg">
    <div class="usercenter_bg11"></div>
    <div class="usercenter_bg22"></div>
</div>
<div class="nav_box_bg usercenter_bg22">
    <div class="nav_box help_title">
        管理团队
    </div>
</div>
<!--End header-->

<!--Begin 页脚详情页-->
<div class="press-detail-page loose">
    <article>
        <section class="section m">
            <div class="container">
                <div class="panel">
                    <div class="panel-heading leader_heading" id="">
                        <h3>管理团队</h3>
                        <h5><span class="text-green"></span> 2015-05-25</h5>
                    </div>
                    <div class="panel-body leader_body" id="">
                        <div class="leaders clearfix">
                            <div class="leaders_img f_fl"><img src="/images/lhj_03.png"></div>
                            <div class="leaders_infor f_fl">
                                <p><strong>李宏杰——总裁</strong></p>
                                <p><strong>寄语：<span>穷爸爸努力存钱，富爸爸不断投资。——罗伯特•清崎《富爸爸•穷爸爸》</span></strong></p>

                                <p>专注资本运作10余年；</p>
                                <p>曾担任鹏盛国泰投资基金执行事务合伙人（GP）；</p>
                                <p>参与多起矿产行业及文化科技行业的企业并购投资；</p>
                                <p>为多家企业提供上市咨询及法律咨询服务；</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                        <div class="leaders clearfix">
                            <div class="leaders_img f_fl"><img src="/images/lchg_03.png"></div>
                            <div class="leaders_infor f_fl">
                                <p><strong>李春国——副总裁</strong></p>
                                <p><strong>寄语：<span>当有机会获利时，千万不要畏缩不前。——乔治•索罗斯</span></strong></p>

                                <p>专注资本运专注资本运作20年；</p>
                                <p>主持募集和管理过近30亿人民币投资；</p>
                                <p>熟悉各种跨境资本运作；</p>
                                <p>主导参与收购中国A股上市公司的股权分置改革和反向收购。</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                        <div class="leaders clearfix">
                            <div class="leaders_img f_fl"><img src="/images/ljt_03.png"></div>
                            <div class="leaders_infor f_fl">
                                <p><strong>卢均泰——总裁助理</strong></p>
                                <p><strong>寄语：<span>机会总是转瞬即逝，要想成功必须迅速做出决定。——罗伯特•清崎 </span></strong></p>

                                <p>拥有5年以上的上市和并购业务的操作经验；</p>
                                <p>曾参与管理和主导发起多只基金；</p>
                                <p>参与两家A股上市公司的重组方案制定及退出管理；</p>
                                <p>擅长上市公司并购重组业务及PE发行管理。</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                        <div class="leaders clearfix">
                            <div class="leaders_img f_fl"><img src="/images/dfb_03.png"></div>
                            <div class="leaders_infor f_fl">
                                <p><strong>杜封斌——运营总监</strong></p>
                                <p><strong>寄语：<span>承担风险.无可指责,但同时记住千万不能孤注一掷! ——[美国]乔治.索罗斯</span></strong></p>

                                <p>专注企业运营管理十数年，拥有丰富的企业运营经验；</p>
                                <p>曾带领团队为多家企业累计创下过亿业绩；</p>
                                <p>帮助各大企业构建独特的运营体系和管理团队；</p>
                                <p>有效地提升了企业的市场竞争力。</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </article>
</div>
<!--Begin 页脚详情页-->
<% include ../layout/footer.ejs %>