<% include ../layout/header_o.ejs %>
<div class="nav_box_bg usercenter_bg22">
    <div class="nav_box help_title">
        快捷支付
    </div>
</div>
<!--End header-->

<!--Begin 快捷支付-->
<div class="rengou_bg">
    <!--Begin 充值失败-->
    <div style="min-height:450px;" class="quick_content">
        <!--Begin ie8支持透明-->
        <div class="ie_touming">
        <div class="divh30"></div>
        <div class="wp fix">
            <div style="padding:100px 0px; width: 260px;margin: 0 auto;" class="email_fk">
                <div style="float:left; margin-right:15px; margin-top:2px;" class="email_fk_l">
                    <img src="/images/email_fail.jpg" height="61" width="69">
                </div>
                <div class="email_fk_r">
                    <h2>充值失败！</h2>
                   <span><a shape="rect" href="/usercenter/accountmoney" style="color:#09F; font-size:20px;">点击查看账户</a></span> 
                    </p>
                </div>
            </div>
        </div>
        </div>
        <!--End ie8支持透明-->
    </div>
    <!--Begin 充值失败-->
</div>
<!--End 快捷支付-->
<% include ../layout/footer.ejs %>