<% include ../layout/header.ejs %>
<div class="usercenter_bg">
    <div class="usercenter_bg2"></div>
</div>
<!--Begin 用户中心——发布项目-->
<div class="usercenter_bgs">
<div class="usercontent clearfix ">
    <% include left.ejs %>
    <div class="right_bar f_fr">
    	<div class="publish_box">
            <div class="publish_step">
                <ul class="publish_list publish_fifth">
                    <li>基本资料</li>
                    <li>股权设置</li>
                    <li>草稿状态项目编辑</li>
                    <li>相关协议</li>
                    <li class="publish_list_last">传奇工场审核</li>
                </ul>
            </div>
            <div class="shen_submit">
               <h4>您的信息已提交审核，在此期间您只需耐心等候，如需其他帮助</h4>
               <h4>可拨打电话<em>4000705286</em> 随时咨询项目审核情况及其他事宜。</h4>
            </div>
            <div class="h_30"></div>
        </div>
    </div>
</div>
</div>
<!--End 用户中心——发布项目-->
<!--Begin footer-->
<% include ../layout/footer.ejs %>
<!--End footer-->